n8n-workflows/evaluation-notification.json
{
  "name": "CURIEL - Evaluacion Semanal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evaluation-notification",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-evaluation",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['X-CURIEL-SECRET']}}",
              "operation": "equals",
              "value2": "={{$env.CURIEL_SECRET_TOKEN}}"
            }
          ]
        }
      },
      "id": "validate-secret",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_FROM_EMAIL || 'noreply@curiel.com'}}",
        "toEmail": "={{$json.body.evaluation.evaluatedEmail || 'admin@curiel.com'}}",
        "subject": "[CURIEL] Tu evaluacion semanal - Score: {{$json.body.evaluation.compositeScore}}/10",
        "html": "<h2>Evaluacion Semanal</h2><p>Tu calificacion para la semana {{$json.body.evaluation.weekStart}} - {{$json.body.evaluation.weekEnd}} es:</p><h1 style='font-size:48px;text-align:center;color:#17324a;'>{{$json.body.evaluation.compositeScore}}/10</h1><p><a href='{{$env.FRONTEND_URL}}/dashboard'>Ver mi desempeno</a></p>",
        "options": {}
      },
      "id": "send-evaluation-email",
      "name": "Send Evaluation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[ { "node": "Validate Secret", "type": "main", "index": 0 } ]] },
    "Validate Secret": {
      "main": [
        [ { "node": "Send Evaluation Email", "type": "main", "index": 0 } ],
        []
      ]
    }
  },
  "settings": { "executionOrder": "v1" }
}
