n8n-workflows/reminder-pending.json
{
  "name": "CURIEL - Recordatorio Inspecciones Pendientes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1-5" }]
        }
      },
      "id": "schedule-daily",
      "name": "Daily at 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.BACKEND_URL}}/api/v1/inspections?status=pendiente&limit=50",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-API-Key",
              "value": "={{$env.INTERNAL_API_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-pending-inspections",
      "name": "Get Pending Inspections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "curiel-api", "name": "CURIEL API" }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.data?.data || $input.first().json.data || [];\nif (!Array.isArray(data) || data.length === 0) {\n  return [];\n}\nreturn [{ json: { inspections: data, count: data.length } }];"
      },
      "id": "check-has-pending",
      "name": "Has Pending?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "jsCode": "const inspections = $input.first().json.inspections;\nconst rows = inspections.map(i => {\n  const scheduled = i.scheduledDate ? new Date(i.scheduledDate).toLocaleDateString('es-PE') : 'Sin fecha';\n  const inspector = i.inspectorName || i.inspector?.fullName || 'Sin asignar';\n  const project = i.projectName || i.name || 'Sin nombre';\n  return '<tr><td style=\"padding:10px 12px;border-bottom:1px solid #f3f4f6;font-weight:600;color:#374151\">' + project + '</td><td style=\"padding:10px 12px;border-bottom:1px solid #f3f4f6;color:#6b7280\">' + inspector + '</td><td style=\"padding:10px 12px;border-bottom:1px solid #f3f4f6;color:#6b7280\">' + scheduled + '</td></tr>';\n}).join('');\n\nreturn [{ json: { ...$input.first().json, rows } }];"
      },
      "id": "build-email-content",
      "name": "Build Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_FROM_EMAIL || 'noreply@curiel.com'}}",
        "toEmail": "={{$env.ADMIN_EMAIL || 'admin@curiel.com'}}",
        "subject": "[CURIEL] Recordatorio: {{$json.count}} inspeccion(es) pendiente(s)",
        "html": "<div style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:32px;background:#ffffff;border-radius:12px;border:1px solid #e5e7eb'><div style='text-align:center;margin-bottom:24px'><h1 style='color:#17324a;font-size:22px;margin:0'>CURIEL</h1><p style='color:#6b7280;font-size:13px;margin:4px 0 0'>Sistema de Inspecciones Tecnicas</p></div><div style='background:#eff6ff;border-radius:10px;padding:16px;margin-bottom:24px;text-align:center'><span style='font-size:32px'>&#128276;</span><h2 style='color:#1e40af;font-size:18px;margin:8px 0 4px'>Inspecciones pendientes</h2><p style='color:#2563eb;font-size:13px;margin:0'>Hay {{$json.count}} inspeccion(es) que requieren atencion</p></div><table style='width:100%;border-collapse:collapse;margin:20px 0'><thead><tr style='background:#f9fafb'><th style='padding:10px 12px;text-align:left;color:#6b7280;font-size:13px;font-weight:600'>Proyecto</th><th style='padding:10px 12px;text-align:left;color:#6b7280;font-size:13px;font-weight:600'>Inspector</th><th style='padding:10px 12px;text-align:left;color:#6b7280;font-size:13px;font-weight:600'>Fecha programada</th></tr></thead><tbody>{{$json.rows}}</tbody></table><div style='text-align:center;margin:28px 0'><a href='{{$env.FRONTEND_URL || 'https://curiel.vercel.app'}}/inspections' style='display:inline-block;background:#17324a;color:#ffffff;padding:14px 32px;border-radius:10px;text-decoration:none;font-size:15px;font-weight:600'>Ver todas las inspecciones</a></div><hr style='border:none;border-top:1px solid #e5e7eb;margin:24px 0'><p style='color:#9ca3af;font-size:12px;text-align:center'>Este correo fue enviado automaticamente por CURIEL Inspecciones.</p></div>",
        "options": {}
      },
      "id": "send-reminder-email",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1150, 300]
    }
  ],
  "connections": {
    "Daily at 8am": { "main": [[ { "node": "Get Pending Inspections", "type": "main", "index": 0 } ]] },
    "Get Pending Inspections": { "main": [[ { "node": "Has Pending?", "type": "main", "index": 0 } ]] },
    "Has Pending?": { "main": [[ { "node": "Build Email Content", "type": "main", "index": 0 } ], []] },
    "Build Email Content": { "main": [[ { "node": "Send Reminder", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" }
}
