n8n-workflows/reminder-pending.json
{
  "name": "CURIEL - Recordatorio Inspecciones Pendientes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1-5" }]
        }
      },
      "id": "schedule-daily",
      "name": "Daily at 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.BACKEND_URL}}/api/v1/inspections?status=pendiente&limit=50",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "get-pending-inspections",
      "name": "Get Pending Inspections",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": { "id": "curiel-api", "name": "CURIEL API" }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_FROM_EMAIL || 'noreply@curiel.com'}}",
        "toEmail": "={{$env.ADMIN_EMAIL || 'admin@curiel.com'}}",
        "subject": "[CURIEL] Recordatorio: Inspecciones pendientes",
        "html": "<h2>Inspecciones pendientes</h2><p>Hay inspecciones pendientes que requieren atencion:</p><ul>{{$json.data.data.forEach(function(insp) { return '<li><strong>' + insp.projectName + '</strong> - ' + insp.status + '</li>'; })}}</ul><p><a href='{{$env.FRONTEND_URL}}/inspections'>Ver todas</a></p>",
        "options": {}
      },
      "id": "send-reminder-email",
      "name": "Send Reminder",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Daily at 8am": { "main": [[ { "node": "Get Pending Inspections", "type": "main", "index": 0 } ]] },
    "Get Pending Inspections": { "main": [[ { "node": "Send Reminder", "type": "main", "index": 0 } ]] }
  },
  "settings": { "executionOrder": "v1" }
}
