n8n-workflows/user-notification.json
{
  "name": "CURIEL - Cambio de Estado",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-notification",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-user-notification",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.headers['X-CURIEL-SECRET']}}",
              "operation": "equals",
              "value2": "={{$env.CURIEL_SECRET_TOKEN}}"
            }
          ]
        }
      },
      "id": "validate-secret",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.event}}",
              "operation": "contains",
              "value2": "status_change"
            }
          ]
        }
      },
      "id": "check-event-type",
      "name": "Is Status Change",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$env.SMTP_FROM_EMAIL || 'noreply@curiel.com'}}",
        "toEmail": "={{$json.body.recipient.email}}",
        "subject": "[CURIEL] {{$json.body.notification.title}}",
        "html": "<h2>{{$json.body.notification.title}}</h2><p>{{$json.body.notification.message}}</p>",
        "options": {}
      },
      "id": "send-email-notification",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[ { "node": "Validate Secret", "type": "main", "index": 0 } ]] },
    "Validate Secret": {
      "main": [
        [ { "node": "Is Status Change", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Is Status Change": { "main": [[ { "node": "Send Email", "type": "main", "index": 0 } ], []] }
  },
  "settings": { "executionOrder": "v1" }
}
